:host {
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  padding: 10px;
  box-shadow: 0 0 5px 5px #00000050;
}

.list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}