<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <div class="row g-3 align-items-center mb-1">
        <div class="col-3">
          <label for="inputName" class="col-form-label">Имя</label>
        </div>
        <div class="col-9">
          <input type="text" id="inputName" class="form-control" formControlName="name">
        </div>
      </div>
      <div class="row g-3 align-items-center mb-1">
        <div class="col-3">
          <label for="inputSurname" class="col-form-label">Фамилия</label>
        </div>
        <div class="col-9">
          <input type="text" id="inputSurname" class="form-control" formControlName="surname">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row g-3 align-items-center mb-1">
        <div class="col-3">
          <label for="inputPatronymic" class="col-form-label">Отчество</label>
        </div>
        <div class="col-9">
          <input type="text" id="inputPatronymic" class="form-control" formControlName="patronymic">
        </div>
      </div>
      <div class="row g-3 align-items-center mb-1">
        <div class="col-6">
          <label for="inputBirthday" class="col-form-label">Дата рождения</label>
        </div>
        <div class="col-6">
          <input type="date" id="inputBirthday" class="form-control" formControlName="birthday">
        </div>
      </div>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Добавить</button>
    </div>
  </div>
</form>